.kindness {
  color: white;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 40px;

  .kindness__speech {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    img {
      max-width: 500px;
    }

    .speech {
      font-family: "Crete Round", serif;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 31px;
      max-width: 450px;
    }

    .speech__buttons {
      display: flex;
      justify-content: space-around;
      padding: 20px;
      gap: 10px;
      align-items: center;

      .speech__button {
        min-width: 160px;
        background: #fdc500;
        padding: 14px;
        font-family: "Crete Round", serif;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
        color: #000000;

        &:hover {
          background: #fdc600d9;
          transition: 0.2s;
          cursor: pointer;
        }
      }

      .speech__button.buy_taps {
        background: rgba(0, 0, 0, 0);
        border: 2px solid #ff8896;
        color: #ff8896;

        &:hover {
          cursor: pointer;
          border-color: #ff8896b3;
          color: #ff8896b3;
          transition: 0.2s;
        }
      }
    }
  }

  .kindness__img {
    display: flex;
    justify-content: center;

    img {
      max-width: 300px;
    }
  }
}
