.btn {
  min-width: 160px;
  background: #fdc500;
  padding: 14px;
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #000000;
}

.btn:hover {
  background: #fdc600d9;
  transition: 0.2s;
  cursor: pointer;
}

.btn.btn-pink {
  background: #ff8896;
}

.btn.btn-pink:hover {
  background: #ff8896b3;
}
