.nav_header {
  color: white;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 40px;

  img {
    width: 100px;
  }

  div.menu-items {
    display: flex;
    justify-content: flex-end;
    gap: 10px;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;

      img {
        width: 20px;
        height: 20px;
      }
    }

    a:hover {
      color: #fdc600d9;
      transition: 0.2s;
    }
  }
}
