.footer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 120px;

  .left_side {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;

    img {
      max-width: 100px;
    }

    span {
      max-width: 200px;
    }
  }

  .right_side {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 30px;

    h2 {
      font-style: normal;
      font-weight: 700;
      font-size: 26px;
      line-height: 36px;
      text-align: center;
    }

    ul {
      display: flex;
      flex-direction: column;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 28px;
      gap: 10px;
    }
  }
}
